.ui-button-text-only .ui-button-text {
	padding: 0px !important;
}

.ui-widget-content {
	border: none !important;
}

.ui-panel .ui-panel-content {
	padding: 0px !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	
}